service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption

hostname {{ host.name }}

boot-start-marker
boot-end-marker

aaa new-model
aaa authentication login default local
aaa session-id common

ip cef
no ipv6 cef

multilink bundle-name authenticated

{% for interface in interfaces %}
interface {{ interface.name }}
{% if interface.ip_addresses %}
{% for ip_address in interface.ip_addresses %}
  {% set ipaddr = ip_address.address.split('/') -%}
  ip address {{ ipaddr[0] }} {{ ipaddress.IPv4Network('0.0.0.0/' + ipaddr[1]).netmask }}
  no shutdown
{% endfor %}
{% else %}
  no ip address
  shutdown
{% endif %}
{% endfor %}

router ospf 1
 network {{ custom_fields.router_id }} 0.0.0.0 area {{ custom_fields.ospf_area }}
 network 10.1.0.0 0.0.255.255 area 0
 network 10.2.0.0 0.0.255.255 area 0

ip route 0.0.0.0 0.0.0.0 172.29.151.254
ip ssh version 2

control-plane

line con 0
 exec-timeout 0 0
line aux 0
line vty 0 4
 privilege level 15
 transport input ssh

no scheduler allocate